:root {
	--grey: #222222;
	--light-gray: #4a4a4a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	background-color: black;
	color: white;
}

.btn:hover {
	cursor: pointer;
}

/* Top buttons */

.top-buttons {
	height: 4rem;
	padding: .3rem;

	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.top-buttons .btn {
	background-color: var(--light-gray);
	font-size: .9rem;
	
	padding: .3em;
	margin-left: .5em;
	border-radius: .3em;
}


/* Grid */

main {
	height: calc(100vh - 9rem);
	padding: 1rem;

	overflow-y: auto;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/* .participant {
	position: relative;
	margin: .2rem;
	height: 140px;
} */

.user-tile {
	position: relative;
	
	height: 140px;
	width: 244px;
	margin: .2rem;
}

.user-tile img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: center;
}

.name {
	position: absolute;
	bottom: 2px;
	left: 0;

	padding: .4em;
	background-color: #222222aa;
	
	font-size: .9rem;
}

.mute::before {
	content: '\f131';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: .2em;
}

/* Footer */

footer {
	height: 5rem;

	background: var(--grey);

	overflow: hidden;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer [class|='col'] {
	display: flex;
	text-align: center;
	font-size: .9rem;
}

footer .btn {
	margin-left: 1rem;
}

.end-meeting {
	background-color: var(--light-gray);
	line-height: 5rem;
	color: red;
	padding: 0 1rem;
	white-space: nowrap;
}

.arrow {
	display: flex;
	align-items: center;
}

footer .arrow::after {
	content: "\f077";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	color: white;
	font-size: .7rem;
	
	margin-left: 1rem;
}

footer .btn i {
	font-size: 1.6rem;
	padding-bottom: .5rem;
}

.btn.green i{
	color: #4bc800;
}